<p>This is the partial for view 2.</p>
<p>
	Show the values for model Two
</p>
<div>
    <ul class="ui-listview">
    <% for(var i=0; i<data.length; i++){%>
        <li class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-corner-top ui-btn-up-c">
            <div class="ui-btn-inner ui-li ui-corner-top">
                <div class="ui-btn-text"><a href="#vuelo/<%=data[i]['id']%>" class="ui-link-inherit"><%=data[i]['destination']%></a></div>
                <span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
            </div>
        </li>
    <%  }   %>
    </ul>
</div>

