<ul class="localnav ui-corner-all ui-controlgroup ui-controlgroup-horizontal">
    <div class="ui-controlgroup-controls" style="display:block">
        <li id="btnArrival">
            <a class="ui-btn-active ui-btn ui-btn-up-c ui-corner-left">
                <span class="ui-btn-inner ui-corner-left"><span class="ui-btn-text">Llegadas</span></span>
            </a>
        </li>
        <li id="btnDestination">
            <a class="ui-btn ui-btn-up-c">
                <span class="ui-btn-inner"><span class="ui-btn-text">Salidas</span></span>
            </a>
        </li>
    </div>
</ul>
<label for="search-basic">Search Input:</label>
<input type="search" name="search" id="search-basic" value="" />